@import "../../global.scss";

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    span {
        font-weight: 600;
        font-size: 20px;
    }
}

ul {
    li {
        padding: 10px;
        text-transform: capitalize;
        font-weight: 700;
        @include mobile {}
        label {
            display: flex;
            cursor: pointer;
            gap: 20px;
            justify-content: flex-start;
            align-items: center;
        }
    }
}