@import "../../../global.scss";

.login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginwrapper {
        width: 400px;
        height: max-content;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 90%;
        // border: 1px solid lightgray;
        padding: 10px;

        form {
            width: 100%;
            height: 100%;

            .logintop {

                .loginlogo {
                    width: 60px;
                    height: 60px;

                }

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                margin: 20px 0px;

                h2 {
                    font-size: 25px;
                }
            }

            .loginitem {
                width: 100%;
                margin: 10px auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                label {
                    color: gray;
                    font-weight: 600;
                    text-transform: capitalize;
                    margin: 5px 5px;

                }

                input {
                    width: 100%;
                    outline: none;
                    border-radius: 20px;
                    border: 1px solid lightgray;
                    color: black;

                }
                .loginbtn{
                    border: 1px solid lightgray;
                    background-color: rebeccapurple;
                    border-radius: 20px;
                    padding: 2px;
                    color: white;
                    transition: all 1s ease;
                    text-transform: capitalize;
                    &:hover{
                        background-color: transparent;
                        color: rebeccapurple;
                        border: 1px solid rebeccapurple;
                    }
                }

                p{
                    a{
                        font-weight: 600;
                        color: rebeccapurple;
                    }
                }

            }
        }


    }


}