

.search{
    width: 100vw;
    height: 100vh;


    .emptysearch{
        width: 100vw;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        text-transform: capitalize;
        font-weight: 600;
        flex-direction: column;
        a{
            border: 1px solid lightgray;
            padding: 5px 10px;
            font-size: 20px;
            color: blue;

        }
    }
    .searchheader{
        margin: 10px auto;
        text-align: center;
        padding: 10px;
        font-size: 18px;
        
    }
}