

$teal:teal;
$crimson:crimson;
$lightgray:lightgray;
$yellow:rgb(190, 190, 115);
$shadow:0 0 5px rgba(0,0,0,0.3);
$white:white;
$black:black;
$glass:rgba(255,255,255, 0.3);
$width:778px;
$rgb:rgba(24, 10, 10, 0.5);

 



@mixin mobile{
    @media (max-width:#{$width}) {

        @content ;
        
    }
}


